/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Miscellaneous Helper Classes */
.clearfix:before, .timetable-clearfix:before, .clearfix:after, .timetable-clearfix:after {content: ""; display: table;}
.clearfix:after, .timetable-clearfix:after {clear: both;}
.clearfix, .timetable-clearfix {zoom: 1;}
.timetable-clear {clear: both;}
.timetable-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.timetable-hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.timetable-events-multi-event-day {
	color: #0f81bb;
}

#timetable-events-content .timetable-events-abbr {
	border-bottom: 0;
	cursor: default;
}

/* = Week Grid Template Styles
   @ Template: week.php
=============================================*/
/* grid structure */
.timetable-grid {
	border: 1px solid #bbb;
	font-size: 12px;
	width: 100%;
	position: relative;
	margin: 0 auto .6em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.timetable-grid * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/* grid header */
.timetable-grid-header {
	border-bottom: 1px solid #bbb;
	background-color: #ddd;
}

.timetable-grid-header .column {
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
	letter-spacing: 1px;
}

.timetable-grid-header .column a {
	color: #333;
	font-weight: bold;
}

/* columns & structure */
.timetable-inner-grid-wrapper {
	position: relative;
}

.timetable-grid .slimScrollBar {
	z-index: 1000 !important
}

.timetable-grid-body {
	overflow: visible;
	position: relative;
}

.timetable-grid-hours {
	background-color: #fff;
	position: relative;
	z-index: 20;
}

.timetable-grid .column.first,
.timetable-grid-hours {
	float: left;
	width: 40px;
	margin-right: -40px;
	border-left: 0;
}

.timetable-grid-allday .column.first,
.timetable-grid-hours div {
	height: 60px;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	line-height: 1.25;
	text-align: center;
}

.timetable-grid-content-wrap {
	width: 100%;
	float: left;
	padding-left: 40px;
}

.timetable-grid .timetable-grid-content-wrap .column {
	display: inline-block;
	zoom: 1;
	*display: inline;
	float: left;
	vertical-align: top;
	text-align: center;
	border-left: 1px solid #bbb;
}

.timetable-grid-body .timetable-grid-content-wrap .column {
	position: relative;
}

/* Global Week Event Styles */
.timetable-grid .hentry.vevent {
	padding:4px;
}

.timetable-grid .hentry.vevent h3.entry-title {
	color: #333;
	font-size: 12px;
	line-height: 1.25;
	padding: 4px 6px;
	margin: 0;
	text-transform: none;
	letter-spacing: 0;
	text-align: left;
	overflow: hidden;
	float: left;
}

.timetable-grid .hentry.vevent span {
	padding: 4px 6px;
	margin: 0;
	text-align: left;
	display: block;
	float: right;
}
.timetable-grid .hentry.vevent a {
	color: #333;
	font-size: 12px;
	line-height: 1.25;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: none;
}

.timetable-grid-body div.timetable-week-session .hentry.vevent {
	width: 100%;
	background-color: #e6e6e6;
	background-color: rgba(221, 221, 221, .75);
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	cursor: pointer;
}

.timetable-grid-body div.timetable-week-session .hentry.vevent:hover {
	background-color: #e2e2e2;
	background-color: rgba(221, 221, 221, .85);
}

/* Actual Event Styles */
.timetable-grid-body .hentry.vevent {
	width: 100%;
	height: 100%;
}
.timetable-grid-body div.timetable-week-session {
	font-weight: bold;
	line-height: 1.25;
	position: absolute;
	z-index: 500;
	width: 100%;
	padding: 4px;
}
.timetable-grid-body div.timetable-week-session:hover {
	z-index: 800;
}

/* Tooltip */
.timetable-grid div[id*="timetable-events-tooltip-"] {
	text-align: left;
}

.timetable-grid-body .timetable-events-tooltip .timetable-events-event-body {
	position: relative;
}

.timetable-grid-body .timetable-events-tooltip .timetable-events-arrow {
	width: 11px;
	height: 18px;
	background-position: -33px 0;
	bottom: auto;
	left: -11px;
	
	top: 6px;
}

.timetable-grid-body .timetable-events-right .timetable-events-tooltip .timetable-events-arrow {
	left: auto;
	right: -11px;
	background-position: -20px 0;
}

/* Specific Classes */
.timetable-week-today {
	background-color: #f9f9f9;
}

/* Week view grid background */
.timetable-grid-outer-wrap {
	position: relative;
	z-index: 10;
}

.timetable-grid-inner-wrap {
	position: absolute;
	width: 100%;
}

.timetable-week-grid-block {
	height: 60px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.timetable-week-grid-block div {
	height: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #ddd;
	border-top: 1px solid #ddd;
}

/* Grid for number of days */
.timetable-grid .timetable-grid-content-wrap .column.days-7 {
	width: 14.2857%;
}

.timetable-grid .timetable-grid-content-wrap .column.days-5 {
	width: 19.9999%;
}

.timetable-column.minutes-300 {
	height: 300px;
}
.timetable-column.minutes-1440 {
	height: 1440px;
}